.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  font-size: 0.91rem;
  margin: 0 auto;
  /* width: 90vw; */
}
.product__card {
  text-align: center;
  width: 400px;
  padding: 0.2rem 0.3rem;
  border: 1px solid #f14;
}
.product__card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .products__grid {
    grid-template-columns: 1fr 1fr;
  }
  .product__card {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .products__grid {
    grid-template-columns: 1fr;
  }
  .product__card {
    width: 100%;
  }
}
